body {
    
    
    background-color: rgb(120, 217, 184);
    font-size: larger;
    font-family: 'Bebas Neue', cursive;
    color: aquamarine;
    border: 3em;
    border-color: rgb(55, 55, 107);
    background-color: black;


}
